#!/bin/sh
#
# $FreeBSD: release/7.0.0/share/examples/pppd/auth-up.sample 89936 2002-01-29 00:23:35Z cjc $
#
# Example for /etc/ppp/auth-up file.

/usr/bin/logger -p daemon.notice -t pppd "User $2 is logged in"
