* text=auto !eol
3.9p1/CREDITS -text
3.9p1/ChangeLog -text
3.9p1/INSTALL -text
3.9p1/LICENCE -text
3.9p1/Makefile -text
3.9p1/Makefile.in -text
3.9p1/README -text
3.9p1/buffer.c -text
3.9p1/client.c -text
3.9p1/config.c -text
3.9p1/config.guess -text
3.9p1/config.h -text
3.9p1/config.h.in -text
3.9p1/config.status -text
3.9p1/config.sub -text
3.9p1/configure -text
3.9p1/configure.ac -text
3.9p1/configure.lineno -text
3.9p1/contrib/redhat/ntpd -text
3.9p1/contrib/redhat/openntpd.spec -text
3.9p1/defines.h -text
3.9p1/imsg.c -text
3.9p1/includes.h -text
3.9p1/install-sh -text
3.9p1/log.c -text
3.9p1/mdoc2man.awk -text
3.9p1/ntp.c -text
3.9p1/ntp.h -text
3.9p1/ntp_msg.c -text
3.9p1/ntpd.0 -text
3.9p1/ntpd.8 -text
3.9p1/ntpd.c -text
3.9p1/ntpd.conf -text
3.9p1/ntpd.conf.0 -text
3.9p1/ntpd.conf.5 -text
3.9p1/ntpd.h -text
3.9p1/openbsd-compat/.cvsignore -text
3.9p1/openbsd-compat/Makefile.in -text
3.9p1/openbsd-compat/asprintf.c -text
3.9p1/openbsd-compat/atomicio.c -text
3.9p1/openbsd-compat/atomicio.h -text
3.9p1/openbsd-compat/bsd-arc4random.c -text
3.9p1/openbsd-compat/bsd-getifaddrs.c -text
3.9p1/openbsd-compat/bsd-getifaddrs.h -text
3.9p1/openbsd-compat/bsd-misc.c -text
3.9p1/openbsd-compat/bsd-poll.c -text
3.9p1/openbsd-compat/bsd-poll.h -text
3.9p1/openbsd-compat/bsd-setresgid.c -text
3.9p1/openbsd-compat/bsd-setresuid.c -text
3.9p1/openbsd-compat/bsd-snprintf.c -text
3.9p1/openbsd-compat/daemon.c -text
3.9p1/openbsd-compat/errx.c -text
3.9p1/openbsd-compat/fake-rfc2553.c -text
3.9p1/openbsd-compat/fake-rfc2553.h -text
3.9p1/openbsd-compat/inet_pton.c -text
3.9p1/openbsd-compat/openbsd-compat.h -text
3.9p1/openbsd-compat/port-qnx.c -text
3.9p1/openbsd-compat/strlcpy.c -text
3.9p1/openbsd-compat/sys-queue.h -text
3.9p1/openbsd-compat/verrx.c -text
3.9p1/parse.y -text
3.9p1/server.c -text
3.9p1/util.c -text
3.9p1/version.h -text
3.9p1/y.tab.c -text
4.4/Makefile -text
4.4/buffer.c -text
4.4/client.c -text
4.4/config.c -text
4.4/imsg.c -text
4.4/log.c -text
4.4/ntp.c -text
4.4/ntp.h -text
4.4/ntp_msg.c -text
4.4/ntpd.8 -text
4.4/ntpd.c -text
4.4/ntpd.conf.5 -text
4.4/ntpd.h -text
4.4/parse.y -text
4.4/sensors.c -text
4.4/server.c -text
4.4/util.c -text
