contrib/cvs/contrib/pam/Makefile
contrib/cvs/doc/i18n/Makefile
contrib/cvs/doc/i18n/pt_BR/Makefile
contrib/ipfilter/BSD/*_l.c
contrib/ipfilter/BSD/*_lex_var.h
contrib/ipfilter/BSD/*_y.c
contrib/ipfilter/BSD/*_y.h
contrib/ipfilter/BSD/BSDOS*
contrib/ipfilter/BSD/FreeBSD*
contrib/ipfilter/BSD/NetBSD*
contrib/ipfilter/BSD/OpenBSD*
contrib/ipfilter/BSD/amiga
contrib/ipfilter/BSD/i386
contrib/ipfilter/BSD/if_ipl
contrib/ipfilter/BSD/ip_rules.*
contrib/ipfilter/BSD/ipf
contrib/ipfilter/BSD/ipfs
contrib/ipfilter/BSD/ipfstat
contrib/ipfilter/BSD/ipftest
contrib/ipfilter/BSD/ipmon
contrib/ipfilter/BSD/ipnat
contrib/ipfilter/BSD/ipresend
contrib/ipfilter/BSD/ipsend
contrib/ipfilter/BSD/iptest
contrib/ipfilter/BSD/vnode_if.h
contrib/ipfilter/CVS
contrib/ipfilter/bak
contrib/ipfilter/bugs
contrib/ipfilter/cbits
contrib/ipfilter/cvs.diff
contrib/ipfilter/glibc
contrib/ipfilter/h
contrib/ipfilter/hp
contrib/ipfilter/import
contrib/ipfilter/ip_rules.c
contrib/ipfilter/ip_rules.h
contrib/ipfilter/ipf
contrib/ipfilter/ipf-darren
contrib/ipfilter/ipftest
contrib/ipfilter/iplang/iplang_y.output
contrib/ipfilter/iplang/iplang_y.tab.c
contrib/ipfilter/iplang/iplang_y.tab.h
contrib/ipfilter/iplang/lex.yy.c
contrib/ipfilter/iplang/lex.yy.o
contrib/ipfilter/iplang/y.output
contrib/ipfilter/iplang/y.tab.c
contrib/ipfilter/iplang/y.tab.h
contrib/ipfilter/iplang/y.tab.o
contrib/ipfilter/ipmon
contrib/ipfilter/ipnat
contrib/ipfilter/ippool
contrib/ipfilter/ipsend/ipresend
contrib/ipfilter/ipsend/ipsend
contrib/ipfilter/ipsend/iptest
contrib/ipfilter/net/done
contrib/ipfilter/netinet
contrib/ipfilter/new
contrib/ipfilter/old
contrib/ipfilter/opt_inet6.h
contrib/ipfilter/patches
contrib/ipfilter/rules/new
contrib/ipfilter/samples/proxy
contrib/ipfilter/samples/relay
contrib/ipfilter/samples/trans_relay
contrib/ipfilter/samples/userauth
contrib/ipfilter/sparcv7
contrib/ipfilter/sparcv9
contrib/ipfilter/state
contrib/ipfilter/streams
contrib/ipfilter/test/1
contrib/ipfilter/test/10
contrib/ipfilter/test/11
contrib/ipfilter/test/12
contrib/ipfilter/test/2
contrib/ipfilter/test/3
contrib/ipfilter/test/4
contrib/ipfilter/test/5
contrib/ipfilter/test/6
contrib/ipfilter/test/7
contrib/ipfilter/test/8
contrib/ipfilter/test/9
contrib/ipfilter/test/f1
contrib/ipfilter/test/f10
contrib/ipfilter/test/f11
contrib/ipfilter/test/f12
contrib/ipfilter/test/f13
contrib/ipfilter/test/f14
contrib/ipfilter/test/f15
contrib/ipfilter/test/f16
contrib/ipfilter/test/f17
contrib/ipfilter/test/f2
contrib/ipfilter/test/f3
contrib/ipfilter/test/f4
contrib/ipfilter/test/f5
contrib/ipfilter/test/f6
contrib/ipfilter/test/f7
contrib/ipfilter/test/f8
contrib/ipfilter/test/f9
contrib/ipfilter/test/i1
contrib/ipfilter/test/i10
contrib/ipfilter/test/i11
contrib/ipfilter/test/i12
contrib/ipfilter/test/i13
contrib/ipfilter/test/i14
contrib/ipfilter/test/i15
contrib/ipfilter/test/i2
contrib/ipfilter/test/i3
contrib/ipfilter/test/i4
contrib/ipfilter/test/i5
contrib/ipfilter/test/i6
contrib/ipfilter/test/i7
contrib/ipfilter/test/i8
contrib/ipfilter/test/i9
contrib/ipfilter/test/in1
contrib/ipfilter/test/in2
contrib/ipfilter/test/in3
contrib/ipfilter/test/in4
contrib/ipfilter/test/in5
contrib/ipfilter/test/in6
contrib/ipfilter/test/ip1
contrib/ipfilter/test/ipv6.1
contrib/ipfilter/test/ipv6.2
contrib/ipfilter/test/ipv6.3
contrib/ipfilter/test/l1
contrib/ipfilter/test/n1
contrib/ipfilter/test/n10
contrib/ipfilter/test/n11
contrib/ipfilter/test/n12
contrib/ipfilter/test/n2
contrib/ipfilter/test/n3
contrib/ipfilter/test/n4
contrib/ipfilter/test/n5
contrib/ipfilter/test/n6
contrib/ipfilter/test/n7
contrib/ipfilter/test/n8
contrib/ipfilter/test/n9
contrib/ipfilter/test/ni1
contrib/ipfilter/test/ni10
contrib/ipfilter/test/ni11
contrib/ipfilter/test/ni12
contrib/ipfilter/test/ni13
contrib/ipfilter/test/ni14
contrib/ipfilter/test/ni15
contrib/ipfilter/test/ni16
contrib/ipfilter/test/ni2
contrib/ipfilter/test/ni3
contrib/ipfilter/test/ni4
contrib/ipfilter/test/ni5
contrib/ipfilter/test/ni6
contrib/ipfilter/test/ni7
contrib/ipfilter/test/ni8
contrib/ipfilter/test/ni9
contrib/ipfilter/test/p1
contrib/ipfilter/test/p2
contrib/ipfilter/test/p3
contrib/ipfilter/test/results
contrib/ipfilter/threads
contrib/ipfilter/windows
contrib/libpcap/.devel
contrib/libpcap/Makefile
contrib/libpcap/config.cache
contrib/libpcap/config.h
contrib/libpcap/config.log
contrib/libpcap/config.status
contrib/libpcap/grammar.c
contrib/libpcap/scanner.c
contrib/libpcap/stamp-h
contrib/libpcap/stamp-h.in
contrib/libpcap/tokdefs.h
contrib/libpcap/version.c
contrib/libpcap/version.h
contrib/tcpdump/.devel
contrib/tcpdump/Makefile
contrib/tcpdump/Makefile-devel.in
contrib/tcpdump/autom4te.cache
contrib/tcpdump/config.cache
contrib/tcpdump/config.h
contrib/tcpdump/config.log
contrib/tcpdump/config.status
contrib/tcpdump/stamp-h
contrib/tcpdump/stamp-h.in
contrib/tcpdump/tcpdump
contrib/tcpdump/tests/*.new
contrib/tcpdump/tests/*.pcap
contrib/tcpdump/tests/02-sunrise-sunset-esp.pcap
contrib/tcpdump/tests/08-sunrise-sunset-aes.pcap
contrib/tcpdump/tests/08-sunrise-sunset-esp.pcap
contrib/tcpdump/tests/08-sunrise-sunset-esp2.pcap
contrib/tcpdump/tests/isakmp-delete-segfault.pcap
contrib/tcpdump/tests/isakmp-identification-segfault.pcap
contrib/tcpdump/tests/isakmp-pointer-loop.pcap
contrib/tcpdump/tests/run1.pcap
contrib/tcpdump/tests/run2.pcap
contrib/tcpdump/version.c
sys/amd64/compile/[A-Za-z0-9]*
sys/i386/compile/[A-Za-z0-9]*
sys/sparc64/compile/[A-Za-z0-9]*
tools/regression/geom_uzip/test-1.img
tools/regression/geom_uzip/test-1.img.gz
