* text=auto !eol
/LICENSE -text
/Makefile.in -text
/README -text
/ac_pkg_swig.m4 -text
/aclocal.m4 -text
/acx_nlnetlabs.m4 -text
/acx_python.m4 -text
/ax_pthread.m4 -text
compat/arc4_lock.c -text
compat/arc4random.c -text
compat/arc4random_uniform.c -text
compat/chacha_private.h -text
compat/ctime_r.c -text
compat/explicit_bzero.c -text
compat/fake-rfc2553.c -text
compat/fake-rfc2553.h -text
compat/getentropy_linux.c -text
compat/getentropy_osx.c -text
compat/getentropy_solaris.c -text
compat/getentropy_win.c -text
compat/gmtime_r.c -text
compat/inet_aton.c -text
compat/inet_ntop.c -text
compat/inet_pton.c -text
compat/isblank.c -text
compat/malloc.c -text
compat/memcmp.c -text
compat/memcmp.h -text
compat/memmove.c -text
compat/reallocarray.c -text
compat/sha512.c -text
compat/snprintf.c -text
compat/strlcat.c -text
compat/strlcpy.c -text
compat/strptime.c -text
/config.guess -text
/config.h -text
/config.h.in -text
/config.sub -text
/configure -text
/configure.ac -text
daemon/acl_list.c -text
daemon/acl_list.h -text
daemon/cachedump.c -text
daemon/cachedump.h -text
daemon/daemon.c -text
daemon/daemon.h -text
daemon/remote.c -text
daemon/remote.h -text
daemon/stats.c -text
daemon/stats.h -text
daemon/unbound.c -text
daemon/worker.c -text
daemon/worker.h -text
dns64/dns64.c -text
dns64/dns64.h -text
dnstap/dnstap.c -text
dnstap/dnstap.h -text
dnstap/dnstap.m4 -text
dnstap/dnstap.proto -text
dnstap/dnstap_config.h -text
dnstap/dnstap_config.h.in -text
doc/CREDITS -text
doc/Changelog -text
doc/FEATURES -text
doc/LICENSE -text
doc/README -text
doc/README.DNS64 -text
doc/README.svn -text
doc/README.tests -text
doc/TODO -text
doc/control_proto_spec.txt -text
doc/example.conf -text
doc/example.conf.in -text
doc/ietf67-design-02.odp -text
doc/ietf67-design-02.pdf -text svneol=unset#application/pdf
doc/libunbound.3 -text
doc/libunbound.3.in -text
doc/requirements.txt -text
doc/unbound-anchor.8 -text
doc/unbound-anchor.8.in -text
doc/unbound-checkconf.8 -text
doc/unbound-checkconf.8.in -text
doc/unbound-control.8 -text
doc/unbound-control.8.in -text
doc/unbound-host.1 -text
doc/unbound-host.1.in -text
doc/unbound.8 -text
doc/unbound.8.in -text
doc/unbound.conf.5 -text
doc/unbound.conf.5.in -text
doc/unbound.doxygen -text
/freebsd-configure.sh -text
/freebsd-sources.pl -text
/install-sh -text
iterator/iter_delegpt.c -text
iterator/iter_delegpt.h -text
iterator/iter_donotq.c -text
iterator/iter_donotq.h -text
iterator/iter_fwd.c -text
iterator/iter_fwd.h -text
iterator/iter_hints.c -text
iterator/iter_hints.h -text
iterator/iter_priv.c -text
iterator/iter_priv.h -text
iterator/iter_resptype.c -text
iterator/iter_resptype.h -text
iterator/iter_scrub.c -text
iterator/iter_scrub.h -text
iterator/iter_utils.c -text
iterator/iter_utils.h -text
iterator/iterator.c -text
iterator/iterator.h -text
libunbound/context.c -text
libunbound/context.h -text
libunbound/libunbound.c -text
libunbound/libworker.c -text
libunbound/libworker.h -text
libunbound/python/LICENSE -text
libunbound/python/Makefile -text
libunbound/python/doc/_static/readme -text
libunbound/python/doc/conf.py -text
libunbound/python/doc/examples/example1a.rst -text
libunbound/python/doc/examples/example1b.rst -text
libunbound/python/doc/examples/example2.rst -text
libunbound/python/doc/examples/example3.rst -text
libunbound/python/doc/examples/example4.rst -text
libunbound/python/doc/examples/example5.rst -text
libunbound/python/doc/examples/example6-1.py -text
libunbound/python/doc/examples/example6.rst -text
libunbound/python/doc/examples/example7-1.py -text
libunbound/python/doc/examples/example7-2.py -text
libunbound/python/doc/examples/example7.rst -text
libunbound/python/doc/examples/example8-1.py -text
libunbound/python/doc/examples/example8.rst -text
libunbound/python/doc/examples/index.rst -text
libunbound/python/doc/index.rst -text
libunbound/python/doc/install.rst -text
libunbound/python/doc/intro.rst -text
libunbound/python/doc/modules/unbound.rst -text
libunbound/python/examples/async-lookup.py -text
libunbound/python/examples/dns-lookup.py -text
libunbound/python/examples/dnssec-valid.py -text
libunbound/python/examples/dnssec_test.py -text
libunbound/python/examples/example8-1.py -text
libunbound/python/examples/idn-lookup.py -text
libunbound/python/examples/mx-lookup.py -text
libunbound/python/examples/ns-lookup.py -text
libunbound/python/examples/reverse-lookup.py -text
libunbound/python/file_py3.i -text
libunbound/python/libunbound.i -text
libunbound/ubsyms.def -text
libunbound/unbound-event.h -text
libunbound/unbound.h -text
libunbound/worker.h -text
/ltmain.sh -text
services/cache/dns.c -text
services/cache/dns.h -text
services/cache/infra.c -text
services/cache/infra.h -text
services/cache/rrset.c -text
services/cache/rrset.h -text
services/listen_dnsport.c -text
services/listen_dnsport.h -text
services/localzone.c -text
services/localzone.h -text
services/mesh.c -text
services/mesh.h -text
services/modstack.c -text
services/modstack.h -text
services/outbound_list.c -text
services/outbound_list.h -text
services/outside_network.c -text
services/outside_network.h -text
sldns/keyraw.c -text
sldns/keyraw.h -text
sldns/parse.c -text
sldns/parse.h -text
sldns/parseutil.c -text
sldns/parseutil.h -text
sldns/pkthdr.h -text
sldns/rrdef.c -text
sldns/rrdef.h -text
sldns/sbuffer.c -text
sldns/sbuffer.h -text
sldns/str2wire.c -text
sldns/str2wire.h -text
sldns/wire2str.c -text
sldns/wire2str.h -text
smallapp/unbound-anchor.c -text
smallapp/unbound-checkconf.c -text
smallapp/unbound-control-setup.sh -text
smallapp/unbound-control-setup.sh.in -text
smallapp/unbound-control.c -text
smallapp/unbound-host.c -text
smallapp/worker_cb.c -text
util/alloc.c -text
util/alloc.h -text
util/as112.c -text
util/as112.h -text
util/config_file.c -text
util/config_file.h -text
util/configlexer.lex -text
util/configparser.y -text
util/configyyrename.h -text
util/data/dname.c -text
util/data/dname.h -text
util/data/msgencode.c -text
util/data/msgencode.h -text
util/data/msgparse.c -text
util/data/msgparse.h -text
util/data/msgreply.c -text
util/data/msgreply.h -text
util/data/packed_rrset.c -text
util/data/packed_rrset.h -text
util/fptr_wlist.c -text
util/fptr_wlist.h -text
util/iana_ports.inc -text
util/locks.c -text
util/locks.h -text
util/log.c -text
util/log.h -text
util/mini_event.c -text
util/mini_event.h -text
util/module.c -text
util/module.h -text
util/net_help.c -text
util/net_help.h -text
util/netevent.c -text
util/netevent.h -text
util/random.c -text
util/random.h -text
util/rbtree.c -text
util/rbtree.h -text
util/regional.c -text
util/regional.h -text
util/rtt.c -text
util/rtt.h -text
util/storage/dnstree.c -text
util/storage/dnstree.h -text
util/storage/lookup3.c -text
util/storage/lookup3.h -text
util/storage/lruhash.c -text
util/storage/lruhash.h -text
util/storage/slabhash.c -text
util/storage/slabhash.h -text
util/timehist.c -text
util/timehist.h -text
util/tube.c -text
util/tube.h -text
util/winsock_event.c -text
util/winsock_event.h -text
validator/autotrust.c -text
validator/autotrust.h -text
validator/val_anchor.c -text
validator/val_anchor.h -text
validator/val_kcache.c -text
validator/val_kcache.h -text
validator/val_kentry.c -text
validator/val_kentry.h -text
validator/val_neg.c -text
validator/val_neg.h -text
validator/val_nsec.c -text
validator/val_nsec.h -text
validator/val_nsec3.c -text
validator/val_nsec3.h -text
validator/val_secalgo.c -text
validator/val_secalgo.h -text
validator/val_sigcrypt.c -text
validator/val_sigcrypt.h -text
validator/val_utils.c -text
validator/val_utils.h -text
validator/validator.c -text
validator/validator.h -text
