/* font-normal.css for Live CD
*/
body { 
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
}

table td {
    font-size: 1em;
}

table tr {
    font-size: 1.3em;
}

form {
    font-size: 1em;
}