* text=auto !eol
/.indent.pro -text
/ABOUT-NLS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/ONEWS -text
/README.md -text
/THANKS -text
/aclocal.m4 -text
/autogen.sh -text
build-aux/compile -text
build-aux/config.guess -text
build-aux/config.rpath -text
build-aux/config.sub -text
build-aux/depcomp -text
build-aux/install-sh -text
build-aux/ltmain.sh -text
build-aux/mdate-sh -text
build-aux/missing -text
build-aux/test-driver -text
build-aux/texinfo.tex -text
build-aux/ylwrap -text
/configure -text
/configure.ac -text
doc/Makefile.am -text
doc/Makefile.in -text
doc/flex.1 -text
doc/flex.info -text svneol=unset#application/octet-stream
doc/flex.info-1 -text svneol=unset#application/octet-stream
doc/flex.info-2 -text
doc/flex.texi -text
doc/stamp-vti -text
doc/version.texi -text
examples/Makefile.am -text
examples/Makefile.in -text
examples/README -text
examples/debflex.awk -text
examples/fastwc/Makefile.am -text
examples/fastwc/Makefile.in -text
examples/fastwc/README -text
examples/fastwc/mywc.c -text
examples/fastwc/wc1.l -text
examples/fastwc/wc2.l -text
examples/fastwc/wc3.l -text
examples/fastwc/wc4.l -text
examples/fastwc/wc5.l -text
examples/manual/ChangeLog -text
examples/manual/Makefile.am -text
examples/manual/Makefile.examples -text
examples/manual/Makefile.in -text
examples/manual/README -text
examples/manual/cat.lex -text
examples/manual/dates.lex -text
examples/manual/datetest.dat -text
examples/manual/eof_rules.lex -text
examples/manual/eof_test01.txt -text
examples/manual/eof_test02.txt -text
examples/manual/eof_test03.txt -text
examples/manual/expr.lex -text
examples/manual/expr.y -text
examples/manual/front.lex -text
examples/manual/front.y -text
examples/manual/j2t.lex -text
examples/manual/myname.lex -text
examples/manual/myname.txt -text
examples/manual/myname2.lex -text
examples/manual/numbers.lex -text
examples/manual/pas_include.lex -text
examples/manual/pascal.lex -text
examples/manual/reject.lex -text
examples/manual/replace.lex -text
examples/manual/string1.lex -text
examples/manual/string2.lex -text
examples/manual/strtest.dat -text
examples/manual/unput.lex -text
examples/manual/user_act.lex -text
examples/manual/userinit.lex -text
examples/manual/wc.lex -text
examples/manual/yymore.lex -text
examples/manual/yymore2.lex -text
examples/manual/yymoretest.dat -text
examples/testxxLexer.l -text
lib/malloc.c -text
lib/realloc.c -text
m4/ax_prog_cc_for_build.m4 -text
m4/gettext.m4 -text
m4/iconv.m4 -text
m4/intlmacosx.m4 -text
m4/lib-ld.m4 -text
m4/lib-link.m4 -text
m4/lib-prefix.m4 -text
m4/libtool.m4 -text
m4/ltoptions.m4 -text
m4/ltsugar.m4 -text
m4/ltversion.m4 -text
m4/lt~obsolete.m4 -text
m4/nls.m4 -text
m4/po.m4 -text
m4/progtest.m4 -text
po/LINGUAS -text
po/Makefile.in.in -text
po/Makevars -text
po/POTFILES.in -text
po/Rules-quot -text
po/boldquot.sed -text
po/ca.gmo -text
po/ca.po -text
po/da.gmo -text
po/da.po -text
po/de.gmo -text
po/de.po -text
po/en@boldquot.gmo -text
po/en@boldquot.header -text
po/en@boldquot.po -text
po/en@quot.gmo -text
po/en@quot.header -text
po/en@quot.po -text
po/eo.gmo -text
po/eo.po -text
po/es.gmo -text
po/es.po -text
po/fi.gmo -text
po/fi.po -text
po/flex.pot -text
po/fr.gmo -text
po/fr.po -text
po/ga.gmo -text
po/ga.po -text
po/hr.gmo -text
po/hr.po -text
po/insert-header.sin -text
po/ko.gmo -text
po/ko.po -text
po/nl.gmo -text
po/nl.po -text
po/pl.gmo -text
po/pl.po -text
po/pt_BR.gmo -text
po/pt_BR.po -text
po/quot.sed -text
po/remove-potcdate.sin -text
po/ro.gmo -text
po/ro.po -text
po/ru.gmo -text
po/ru.po -text svneol=unset#application/octet-stream
po/sr.gmo -text
po/sr.po -text svneol=unset#application/octet-stream
po/stamp-po -text
po/sv.gmo -text
po/sv.po -text
po/tr.gmo -text
po/tr.po -text
po/vi.gmo -text
po/vi.po -text
po/zh_CN.gmo -text
po/zh_CN.po -text
po/zh_TW.gmo -text
po/zh_TW.po -text
src/FlexLexer.h -text
src/Makefile.am -text
src/Makefile.in -text
src/buf.c -text
src/ccl.c -text
src/config.h.in -text
src/dfa.c -text
src/ecs.c -text
src/filter.c -text
src/flex.skl -text
src/flexdef.h -text
src/flexint.h -text
src/gen.c -text
src/gettext.h -text
src/libmain.c -text
src/libyywrap.c -text
src/main.c -text
src/misc.c -text
src/mkskel.sh -text
src/nfa.c -text
src/options.c -text
src/options.h -text
src/parse.c -text
src/parse.h -text
src/parse.y -text
src/regex.c -text
src/scan.c -text
src/scan.l -text
src/scanflags.c -text
src/scanopt.c -text
src/scanopt.h -text
src/skel.c -text
src/sym.c -text
src/tables.c -text
src/tables.h -text
src/tables_shared.c -text
src/tables_shared.h -text
src/tblcmp.c -text
src/version.h -text
src/yylex.c -text
tests/Makefile.am -text
tests/Makefile.in -text
tests/README -text
tests/alloc_extra.l -text
tests/alloc_extra.txt -text
tests/array_nr.l -text
tests/array_nr.txt -text
tests/array_r.l -text
tests/array_r.txt -text
tests/basic_nr.l -text
tests/basic_nr.txt -text
tests/basic_r.l -text
tests/basic_r.txt -text
tests/bison_nr.txt -text
tests/bison_nr_main.c -text
tests/bison_nr_parser.y -text
tests/bison_nr_scanner.l -text
tests/bison_yylloc.txt -text
tests/bison_yylloc_main.c -text
tests/bison_yylloc_parser.y -text
tests/bison_yylloc_scanner.l -text
tests/bison_yylval.txt -text
tests/bison_yylval_main.c -text
tests/bison_yylval_parser.y -text
tests/bison_yylval_scanner.l -text
tests/c_cxx_nr.lll -text
tests/c_cxx_nr.txt -text
tests/c_cxx_r.lll -text
tests/c_cxx_r.txt -text
tests/ccl.l -text
tests/ccl.txt -text
tests/cxx_basic.ll -text
tests/cxx_basic.txt -text
tests/cxx_multiple_scanners.txt -text
tests/cxx_multiple_scanners_1.ll -text
tests/cxx_multiple_scanners_2.ll -text
tests/cxx_multiple_scanners_main.cc -text
tests/cxx_restart.ll -text
tests/cxx_restart.txt -text
tests/cxx_yywrap.ll -text
tests/cxx_yywrap.txt -text
tests/debug_nr.l -text
tests/debug_nr.txt -text
tests/debug_r.l -text
tests/debug_r.txt -text
tests/extended.l -text
tests/extended.txt -text
tests/header_nr.txt -text
tests/header_nr_main.c -text
tests/header_nr_scanner.l -text
tests/header_r.txt -text
tests/header_r_main.c -text
tests/header_r_scanner.l -text
tests/include_by_buffer.direct.l -text
tests/include_by_buffer.direct.txt -text
tests/include_by_buffer.direct_2.txt -text
tests/include_by_buffer.direct_3.txt -text
tests/include_by_push.direct.l -text
tests/include_by_push.direct.txt -text
tests/include_by_push.direct_2.txt -text
tests/include_by_push.direct_3.txt -text
tests/include_by_reentrant.direct.l -text
tests/include_by_reentrant.direct.txt -text
tests/include_by_reentrant.direct_2.txt -text
tests/include_by_reentrant.direct_3.txt -text
tests/lineno_nr.l -text
tests/lineno_nr.one.txt -text
tests/lineno_r.l -text
tests/lineno_r.one.txt -text
tests/lineno_trailing.l -text
tests/lineno_trailing.one.txt -text
tests/mem_nr.l -text
tests/mem_nr.txt -text
tests/mem_r.l -text
tests/mem_r.txt -text
tests/multiple_scanners_nr_1.l -text
tests/multiple_scanners_nr_2.l -text
tests/multiple_scanners_nr_main.c -text
tests/multiple_scanners_r_1.l -text
tests/multiple_scanners_r_2.l -text
tests/multiple_scanners_r_main.c -text
tests/no_bison_stub.c -text
tests/options.cn -text
tests/posix.l -text
tests/posixly_correct.l -text
tests/prefix_nr.l -text
tests/prefix_nr.txt -text
tests/prefix_r.l -text
tests/prefix_r.txt -text
tests/pthread.l -text
tests/pthread_1.txt -text
tests/pthread_2.txt -text
tests/pthread_3.txt -text
tests/pthread_4.txt -text
tests/pthread_5.txt -text
tests/quote_in_comment.l -text
tests/quote_in_comment.txt -text
tests/quotes.l -text
tests/quotes.txt -text
tests/reject.l4 -text
tests/reject.txt -text
tests/rescan_nr.direct.l -text
tests/rescan_nr.direct.txt -text
tests/rescan_r.direct.l -text
tests/rescan_r.direct.txt -text
tests/string_nr.l -text
tests/string_r.l -text
tests/tableopts.am -text
tests/tableopts.l4 -text
tests/tableopts.sh -text
tests/tableopts.txt -text
tests/testwrapper-direct.sh -text
tests/testwrapper.sh -text
tests/top.l -text
tests/top.txt -text
tests/top_main.c -text
tests/yyextra.l -text
tests/yyextra.txt -text
tools/Makefile.am -text
tools/Makefile.in -text
tools/git2cl -text
