* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/README -text
/THANKS -text
/TODO -text
po/LINGUAS -text
po/Makevars -text
po/POTFILES.in -text
po/cs.po -text
po/de.po -text
po/fr.po -text
po/it.po -text
po/pl.po -text
po/xz.pot -text
src/common/mythread.h -text
src/common/sysdefs.h -text
src/common/tuklib_common.h -text
src/common/tuklib_config.h -text
src/common/tuklib_cpucores.c -text
src/common/tuklib_cpucores.h -text
src/common/tuklib_exit.c -text
src/common/tuklib_exit.h -text
src/common/tuklib_gettext.h -text
src/common/tuklib_integer.h -text
src/common/tuklib_mbstr.h -text
src/common/tuklib_mbstr_fw.c -text
src/common/tuklib_mbstr_width.c -text
src/common/tuklib_open_stdxxx.c -text
src/common/tuklib_open_stdxxx.h -text
src/common/tuklib_physmem.c -text
src/common/tuklib_physmem.h -text
src/common/tuklib_progname.c -text
src/common/tuklib_progname.h -text
src/liblzma/api/lzma.h -text
src/liblzma/api/lzma/base.h -text
src/liblzma/api/lzma/bcj.h -text
src/liblzma/api/lzma/block.h -text
src/liblzma/api/lzma/check.h -text
src/liblzma/api/lzma/container.h -text
src/liblzma/api/lzma/delta.h -text
src/liblzma/api/lzma/filter.h -text
src/liblzma/api/lzma/hardware.h -text
src/liblzma/api/lzma/index.h -text
src/liblzma/api/lzma/index_hash.h -text
src/liblzma/api/lzma/lzma12.h -text
src/liblzma/api/lzma/stream_flags.h -text
src/liblzma/api/lzma/version.h -text
src/liblzma/api/lzma/vli.h -text
src/liblzma/check/check.c -text
src/liblzma/check/check.h -text
src/liblzma/check/crc32_fast.c -text
src/liblzma/check/crc32_small.c -text
src/liblzma/check/crc32_table.c -text
src/liblzma/check/crc32_table_be.h -text
src/liblzma/check/crc32_table_le.h -text
src/liblzma/check/crc32_tablegen.c -text
src/liblzma/check/crc32_x86.S -text
src/liblzma/check/crc64_fast.c -text
src/liblzma/check/crc64_small.c -text
src/liblzma/check/crc64_table.c -text
src/liblzma/check/crc64_table_be.h -text
src/liblzma/check/crc64_table_le.h -text
src/liblzma/check/crc64_tablegen.c -text
src/liblzma/check/crc64_x86.S -text
src/liblzma/check/crc_macros.h -text
src/liblzma/check/sha256.c -text
src/liblzma/common/alone_decoder.c -text
src/liblzma/common/alone_decoder.h -text
src/liblzma/common/alone_encoder.c -text
src/liblzma/common/auto_decoder.c -text
src/liblzma/common/block_buffer_decoder.c -text
src/liblzma/common/block_buffer_encoder.c -text
src/liblzma/common/block_buffer_encoder.h -text
src/liblzma/common/block_decoder.c -text
src/liblzma/common/block_decoder.h -text
src/liblzma/common/block_encoder.c -text
src/liblzma/common/block_encoder.h -text
src/liblzma/common/block_header_decoder.c -text
src/liblzma/common/block_header_encoder.c -text
src/liblzma/common/block_util.c -text
src/liblzma/common/common.c -text
src/liblzma/common/common.h -text
src/liblzma/common/easy_buffer_encoder.c -text
src/liblzma/common/easy_decoder_memusage.c -text
src/liblzma/common/easy_encoder.c -text
src/liblzma/common/easy_encoder_memusage.c -text
src/liblzma/common/easy_preset.c -text
src/liblzma/common/easy_preset.h -text
src/liblzma/common/filter_buffer_decoder.c -text
src/liblzma/common/filter_buffer_encoder.c -text
src/liblzma/common/filter_common.c -text
src/liblzma/common/filter_common.h -text
src/liblzma/common/filter_decoder.c -text
src/liblzma/common/filter_decoder.h -text
src/liblzma/common/filter_encoder.c -text
src/liblzma/common/filter_encoder.h -text
src/liblzma/common/filter_flags_decoder.c -text
src/liblzma/common/filter_flags_encoder.c -text
src/liblzma/common/hardware_cputhreads.c -text
src/liblzma/common/hardware_physmem.c -text
src/liblzma/common/index.c -text
src/liblzma/common/index.h -text
src/liblzma/common/index_decoder.c -text
src/liblzma/common/index_encoder.c -text
src/liblzma/common/index_encoder.h -text
src/liblzma/common/index_hash.c -text
src/liblzma/common/memcmplen.h -text
src/liblzma/common/outqueue.c -text
src/liblzma/common/outqueue.h -text
src/liblzma/common/stream_buffer_decoder.c -text
src/liblzma/common/stream_buffer_encoder.c -text
src/liblzma/common/stream_decoder.c -text
src/liblzma/common/stream_decoder.h -text
src/liblzma/common/stream_encoder.c -text
src/liblzma/common/stream_encoder_mt.c -text
src/liblzma/common/stream_flags_common.c -text
src/liblzma/common/stream_flags_common.h -text
src/liblzma/common/stream_flags_decoder.c -text
src/liblzma/common/stream_flags_encoder.c -text
src/liblzma/common/vli_decoder.c -text
src/liblzma/common/vli_encoder.c -text
src/liblzma/common/vli_size.c -text
src/liblzma/delta/delta_common.c -text
src/liblzma/delta/delta_common.h -text
src/liblzma/delta/delta_decoder.c -text
src/liblzma/delta/delta_decoder.h -text
src/liblzma/delta/delta_encoder.c -text
src/liblzma/delta/delta_encoder.h -text
src/liblzma/delta/delta_private.h -text
src/liblzma/liblzma.map -text
src/liblzma/liblzma.pc.in -text
src/liblzma/lz/lz_decoder.c -text
src/liblzma/lz/lz_decoder.h -text
src/liblzma/lz/lz_encoder.c -text
src/liblzma/lz/lz_encoder.h -text
src/liblzma/lz/lz_encoder_hash.h -text
src/liblzma/lz/lz_encoder_hash_table.h -text
src/liblzma/lz/lz_encoder_mf.c -text
src/liblzma/lzma/fastpos.h -text
src/liblzma/lzma/fastpos_table.c -text
src/liblzma/lzma/fastpos_tablegen.c -text
src/liblzma/lzma/lzma2_decoder.c -text
src/liblzma/lzma/lzma2_decoder.h -text
src/liblzma/lzma/lzma2_encoder.c -text
src/liblzma/lzma/lzma2_encoder.h -text
src/liblzma/lzma/lzma_common.h -text
src/liblzma/lzma/lzma_decoder.c -text
src/liblzma/lzma/lzma_decoder.h -text
src/liblzma/lzma/lzma_encoder.c -text
src/liblzma/lzma/lzma_encoder.h -text
src/liblzma/lzma/lzma_encoder_optimum_fast.c -text
src/liblzma/lzma/lzma_encoder_optimum_normal.c -text
src/liblzma/lzma/lzma_encoder_presets.c -text
src/liblzma/lzma/lzma_encoder_private.h -text
src/liblzma/rangecoder/price.h -text
src/liblzma/rangecoder/price_table.c -text
src/liblzma/rangecoder/price_tablegen.c -text
src/liblzma/rangecoder/range_common.h -text
src/liblzma/rangecoder/range_decoder.h -text
src/liblzma/rangecoder/range_encoder.h -text
src/liblzma/simple/arm.c -text
src/liblzma/simple/armthumb.c -text
src/liblzma/simple/ia64.c -text
src/liblzma/simple/powerpc.c -text
src/liblzma/simple/simple_coder.c -text
src/liblzma/simple/simple_coder.h -text
src/liblzma/simple/simple_decoder.c -text
src/liblzma/simple/simple_decoder.h -text
src/liblzma/simple/simple_encoder.c -text
src/liblzma/simple/simple_encoder.h -text
src/liblzma/simple/simple_private.h -text
src/liblzma/simple/sparc.c -text
src/liblzma/simple/x86.c -text
src/liblzma/validate_map.sh -text
src/lzmainfo/lzmainfo.1 -text
src/lzmainfo/lzmainfo.c -text
src/xz/args.c -text
src/xz/args.h -text
src/xz/coder.c -text
src/xz/coder.h -text
src/xz/file_io.c -text
src/xz/file_io.h -text
src/xz/hardware.c -text
src/xz/hardware.h -text
src/xz/list.c -text
src/xz/list.h -text
src/xz/main.c -text
src/xz/main.h -text
src/xz/message.c -text
src/xz/message.h -text
src/xz/mytime.c -text
src/xz/mytime.h -text
src/xz/options.c -text
src/xz/options.h -text
src/xz/private.h -text
src/xz/signals.c -text
src/xz/signals.h -text
src/xz/suffix.c -text
src/xz/suffix.h -text
src/xz/util.c -text
src/xz/util.h -text
src/xz/xz.1 -text
src/xzdec/xzdec.1 -text
src/xzdec/xzdec.c -text
