* text=auto !eol
/COPYING -text
/INSTALL -text
/LICENSE -text
/Makefile.aut -text
/Makefile.dsb -text
/Makefile.dsg -text
/Makefile.dsu -text
/Makefile.in -text
/Makefile.o2e -text
/Makefile.o9c -text
/Makefile.o9u -text
/Makefile.wnb -text
/Makefile.wnm -text
/NEWS -text
/README -text
/brac.c -text
/ch.c -text
/charset.c -text
/charset.h -text
/cmd.h -text
/cmdbuf.c -text
/command.c -text
/compose.uni -text
/configure -text
/configure.ac -text
/cvt.c -text
/decode.c -text
/defines.ds -text
/defines.h.in -text
/defines.o2 -text
/defines.o9 -text
/defines.wn -text
/edit.c -text
/filename.c -text
/fmt.uni -text
/forwback.c -text
/funcs.h -text
/help.c -text
/ifile.c -text
/input.c -text
/install.sh -text
/jump.c -text
/less.h -text
/less.hlp -text
/less.man -text
/less.nro -text
/lessecho.c -text
/lessecho.man -text
/lessecho.nro -text
/lesskey.c -text
/lesskey.h -text
/lesskey.man -text
/lesskey.nro -text
/lglob.h -text
/line.c -text
/linenum.c -text
/lsystem.c -text
/main.c -text
/mark.c -text
/mkfuncs.awk -text
/mkhelp.c -text
/mkinstalldirs -text
/mkutable -text
/optfunc.c -text
/option.c -text
/option.h -text
/opttbl.c -text
/os.c -text
/output.c -text
/pattern.c -text
/pattern.h -text
/pckeys.h -text
/position.c -text
/position.h -text
/prompt.c -text
/regexp.c -text
/regexp.h -text
/screen.c -text
/scrsize.c -text
/search.c -text
/signal.c -text
/tags.c -text
/ttyin.c -text
/ubin.uni -text
/version.c -text
/wide.uni -text
