#
# Tinderbox defaults
#
# $MidnightBSD: src/tools/tools/tinderbox/etc/default.rc,v 1.2 2008/03/06 20:23:45 laffer1 Exp $
# $FreeBSD: src/tools/tools/tinderbox/etc/default.rc,v 1.9 2005/04/30 18:26:05 des Exp $
#

comment		= %%branch%% tinderbox

# Paths
sandbox		= %%HOME%%
logdir		= %%HOME%%/logs

# Tinderbox options
options		= --verbose
targets		= cleanobj, update, world, lint, kernel:GENERIC, cleanobj
#timeout 	= 7200

# Reporting
sender		= MidnightBSD Tinderbox <tinderbox@midnightbsd.org>
recipient	= %%SENDER%%
subject		= [%%COMMENT%%] failure on %%arch%%/%%machine%%
urlbase		= http://tinderbox.midnightbsd.org/
