#
# Tinderbox defaults
#
# $MidnightBSD$
# $FreeBSD: user/des/tinderbox/etc/default.rc 256000 2013-10-02 18:23:46Z des $
#

comment		= ${branch} tinderbox

# Paths
sandbox		= ${HOME}

# Tinderbox options
options		= --verbose
targets		= precleanobj, update, world, lint, kernels, postcleanobj
#timeout	= 7200

# Reporting
sender		= MidnightBSD Tinderbox <tinderbox@midnightbsd.org>
recipient	= ${SENDER}
subject		= [${COMMENT}] failure on ${arch}/${machine}
urlbase		= http://tinderbox.midnightbsd.org/
