# MidnightBSD 0.4 tinderbox setup, shared source - update stage
#
# $MidnightBSD$

branches	 = RELENG_0_4
platforms	 = none
srcdir		 = %%SANDBOX%%/%%BRANCH%%/src
targets		 = update, version
recipient	+= <luke@midnightbsd.org>
subject		= [%%COMMENT%%] source tree update failure
