* text=auto !eol
/.tarball-version -text
/ABOUT-NLS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/ChangeLog-2008 -text
/GNUmakefile -text
/NEWS -text
/README -text
/README-release -text
/THANKS -text
/TODO -text
build-aux/announce-gen -text
build-aux/arg-nonnull.h -text
build-aux/compile -text
build-aux/config.guess -text
build-aux/config.rpath -text
build-aux/config.sub -text
build-aux/depcomp -text
build-aux/do-release-commit-and-tag -text
build-aux/gendocs.sh -text
build-aux/git-version-gen -text
build-aux/gitlog-to-changelog -text
build-aux/gnu-web-doc-update -text
build-aux/gnupload -text
build-aux/install-sh -text
build-aux/mdate-sh -text
build-aux/missing -text
build-aux/mkinstalldirs -text
build-aux/snippet/_Noreturn.h -text
build-aux/snippet/arg-nonnull.h -text
build-aux/snippet/c++defs.h -text
build-aux/snippet/unused-parameter.h -text
build-aux/snippet/warn-on-use.h -text
build-aux/texinfo.tex -text
build-aux/update-copyright -text
build-aux/useless-if-before-free -text
build-aux/vc-list-files -text
build-aux/warn-on-use.h -text
/cfg.mk -text
/dist-check.mk -text
doc/diff.info -text
doc/diff.texi -text
doc/diffutils.info -text
doc/diffutils.texi -text
doc/fdl.texi -text
doc/stamp-vti -text
doc/version.texi -text
gnulib-tests/argmatch.c -text
gnulib-tests/argmatch.h -text
gnulib-tests/asnprintf.c -text
gnulib-tests/binary-io.h -text
gnulib-tests/float+.h -text
gnulib-tests/float.c -text
gnulib-tests/float.in.h -text
gnulib-tests/fpucw.h -text
gnulib-tests/getcwd-lgpl.c -text
gnulib-tests/getdtablesize.c -text
gnulib-tests/getpagesize.c -text
gnulib-tests/gnulib.mk -text
gnulib-tests/hash-pjw.c -text
gnulib-tests/hash-pjw.h -text
gnulib-tests/init.sh -text
gnulib-tests/locale.in.h -text
gnulib-tests/locale/fr/LC_MESSAGES/test-quotearg.mo -text svneol=unset#unset
gnulib-tests/locale/fr/LC_MESSAGES/test-quotearg.po -text
gnulib-tests/macros.h -text
gnulib-tests/pathmax.h -text
gnulib-tests/printf-args.c -text
gnulib-tests/printf-args.h -text
gnulib-tests/printf-parse.c -text
gnulib-tests/printf-parse.h -text
gnulib-tests/putenv.c -text
gnulib-tests/same-inode.h -text
gnulib-tests/setenv.c -text
gnulib-tests/setlocale.c -text
gnulib-tests/signature.h -text
gnulib-tests/size_max.h -text
gnulib-tests/sleep.c -text
gnulib-tests/snprintf.c -text
gnulib-tests/symlink.c -text
gnulib-tests/test-alloca-opt.c -text
gnulib-tests/test-argmatch.c -text
gnulib-tests/test-binary-io.c -text
gnulib-tests/test-binary-io.sh -text
gnulib-tests/test-bitrotate.c -text
gnulib-tests/test-btowc.c -text
gnulib-tests/test-btowc1.sh -text
gnulib-tests/test-btowc2.sh -text
gnulib-tests/test-c-ctype.c -text
gnulib-tests/test-c-stack.c -text
gnulib-tests/test-c-stack.sh -text
gnulib-tests/test-c-stack2.sh -text
gnulib-tests/test-c-strcase.sh -text
gnulib-tests/test-c-strcasecmp.c -text
gnulib-tests/test-c-strncasecmp.c -text
gnulib-tests/test-dirname.c -text
gnulib-tests/test-dup2.c -text
gnulib-tests/test-environ.c -text
gnulib-tests/test-errno.c -text
gnulib-tests/test-exclude.c -text
gnulib-tests/test-exclude1.sh -text
gnulib-tests/test-exclude2.sh -text
gnulib-tests/test-exclude3.sh -text
gnulib-tests/test-exclude4.sh -text
gnulib-tests/test-exclude5.sh -text
gnulib-tests/test-exclude6.sh -text
gnulib-tests/test-exclude7.sh -text
gnulib-tests/test-exclude8.sh -text
gnulib-tests/test-fcntl-h.c -text
gnulib-tests/test-fcntl.c -text
gnulib-tests/test-filenamecat.c -text
gnulib-tests/test-float.c -text
gnulib-tests/test-fnmatch.c -text
gnulib-tests/test-freopen-safer.c -text
gnulib-tests/test-freopen.c -text
gnulib-tests/test-getcwd-lgpl.c -text
gnulib-tests/test-getdtablesize.c -text
gnulib-tests/test-getopt.c -text
gnulib-tests/test-getopt.h -text
gnulib-tests/test-getopt_long.h -text
gnulib-tests/test-gettimeofday.c -text
gnulib-tests/test-hash.c -text
gnulib-tests/test-iconv-h.c -text
gnulib-tests/test-iconv.c -text
gnulib-tests/test-ignore-value.c -text
gnulib-tests/test-intprops.c -text
gnulib-tests/test-inttostr.c -text
gnulib-tests/test-inttypes.c -text
gnulib-tests/test-iswblank.c -text
gnulib-tests/test-langinfo.c -text
gnulib-tests/test-locale.c -text
gnulib-tests/test-lstat.c -text
gnulib-tests/test-lstat.h -text
gnulib-tests/test-malloc-gnu.c -text
gnulib-tests/test-malloca.c -text
gnulib-tests/test-mbrtowc-w32-1.sh -text
gnulib-tests/test-mbrtowc-w32-2.sh -text
gnulib-tests/test-mbrtowc-w32-3.sh -text
gnulib-tests/test-mbrtowc-w32-4.sh -text
gnulib-tests/test-mbrtowc-w32-5.sh -text
gnulib-tests/test-mbrtowc-w32.c -text
gnulib-tests/test-mbrtowc.c -text
gnulib-tests/test-mbrtowc1.sh -text
gnulib-tests/test-mbrtowc2.sh -text
gnulib-tests/test-mbrtowc3.sh -text
gnulib-tests/test-mbrtowc4.sh -text
gnulib-tests/test-mbscasecmp.c -text
gnulib-tests/test-mbscasecmp.sh -text
gnulib-tests/test-mbsinit.c -text
gnulib-tests/test-mbsinit.sh -text
gnulib-tests/test-mbsrtowcs.c -text
gnulib-tests/test-mbsrtowcs1.sh -text
gnulib-tests/test-mbsrtowcs2.sh -text
gnulib-tests/test-mbsrtowcs3.sh -text
gnulib-tests/test-mbsrtowcs4.sh -text
gnulib-tests/test-mbsstr1.c -text
gnulib-tests/test-mbsstr2.c -text
gnulib-tests/test-mbsstr2.sh -text
gnulib-tests/test-mbsstr3.c -text
gnulib-tests/test-mbsstr3.sh -text
gnulib-tests/test-memchr.c -text
gnulib-tests/test-nl_langinfo.c -text
gnulib-tests/test-nl_langinfo.sh -text
gnulib-tests/test-open.c -text
gnulib-tests/test-open.h -text
gnulib-tests/test-quotearg-simple.c -text
gnulib-tests/test-quotearg.c -text
gnulib-tests/test-quotearg.h -text
gnulib-tests/test-quotearg.sh -text
gnulib-tests/test-setenv.c -text
gnulib-tests/test-setlocale1.c -text
gnulib-tests/test-setlocale1.sh -text
gnulib-tests/test-setlocale2.c -text
gnulib-tests/test-setlocale2.sh -text
gnulib-tests/test-sigaction.c -text
gnulib-tests/test-signal.c -text
gnulib-tests/test-sigprocmask.c -text
gnulib-tests/test-sleep.c -text
gnulib-tests/test-snprintf.c -text
gnulib-tests/test-stat-time.c -text
gnulib-tests/test-stat.c -text
gnulib-tests/test-stat.h -text
gnulib-tests/test-stdbool.c -text
gnulib-tests/test-stddef.c -text
gnulib-tests/test-stdint.c -text
gnulib-tests/test-stdio.c -text
gnulib-tests/test-stdlib.c -text
gnulib-tests/test-strerror.c -text
gnulib-tests/test-strftime.c -text
gnulib-tests/test-striconv.c -text
gnulib-tests/test-string.c -text
gnulib-tests/test-strings.c -text
gnulib-tests/test-strnlen.c -text
gnulib-tests/test-strtoumax.c -text
gnulib-tests/test-symlink.c -text
gnulib-tests/test-symlink.h -text
gnulib-tests/test-sys_stat.c -text
gnulib-tests/test-sys_time.c -text
gnulib-tests/test-sys_wait.c -text
gnulib-tests/test-sys_wait.h -text
gnulib-tests/test-time.c -text
gnulib-tests/test-unistd.c -text
gnulib-tests/test-unsetenv.c -text
gnulib-tests/test-update-copyright.sh -text
gnulib-tests/test-usleep.c -text
gnulib-tests/test-vasnprintf.c -text
gnulib-tests/test-vc-list-files-cvs.sh -text
gnulib-tests/test-vc-list-files-git.sh -text
gnulib-tests/test-verify.c -text
gnulib-tests/test-verify.sh -text
gnulib-tests/test-version-etc.c -text
gnulib-tests/test-version-etc.sh -text
gnulib-tests/test-wchar.c -text
gnulib-tests/test-wcrtomb-w32-1.sh -text
gnulib-tests/test-wcrtomb-w32-2.sh -text
gnulib-tests/test-wcrtomb-w32-3.sh -text
gnulib-tests/test-wcrtomb-w32-4.sh -text
gnulib-tests/test-wcrtomb-w32-5.sh -text
gnulib-tests/test-wcrtomb-w32.c -text
gnulib-tests/test-wcrtomb.c -text
gnulib-tests/test-wcrtomb.sh -text
gnulib-tests/test-wctype-h.c -text
gnulib-tests/test-wctype.c -text
gnulib-tests/test-wcwidth.c -text
gnulib-tests/test-xalloc-die.c -text
gnulib-tests/test-xalloc-die.sh -text
gnulib-tests/test-xstrtol.c -text
gnulib-tests/test-xstrtol.sh -text
gnulib-tests/test-xstrtoul.c -text
gnulib-tests/test-xstrtoumax.c -text
gnulib-tests/test-xstrtoumax.sh -text
gnulib-tests/unistr/test-u8-mbtoucr.c -text
gnulib-tests/unistr/test-u8-uctomb.c -text
gnulib-tests/uniwidth/test-uc_width.c -text
gnulib-tests/uniwidth/test-uc_width2.c -text
gnulib-tests/uniwidth/test-uc_width2.sh -text
gnulib-tests/unsetenv.c -text
gnulib-tests/usleep.c -text
gnulib-tests/vasnprintf.c -text
gnulib-tests/vasnprintf.h -text
gnulib-tests/wctob.c -text
gnulib-tests/wctomb-impl.h -text
gnulib-tests/wctomb.c -text
gnulib-tests/xsize.h -text
gnulib-tests/zerosize-ptr.h -text
lib/Makefile.am -text
lib/Makefile.in -text
lib/alloca.c -text
lib/alloca.in.h -text
lib/anytostr.c -text
lib/basename-lgpl.c -text
lib/basename.c -text
lib/bitrotate.h -text
lib/btowc.c -text
lib/c-ctype.c -text
lib/c-ctype.h -text
lib/c-stack.c -text
lib/c-stack.h -text
lib/c-strcase.h -text
lib/c-strcasecmp.c -text
lib/c-strncasecmp.c -text
lib/cmpbuf.c -text
lib/cmpbuf.h -text
lib/config.charset -text
lib/config.hin -text
lib/diffseq.h -text
lib/dirname-lgpl.c -text
lib/dirname.c -text
lib/dirname.h -text
lib/dosname.h -text
lib/dup2.c -text
lib/errno.in.h -text
lib/error.c -text
lib/error.h -text
lib/exclude.c -text
lib/exclude.h -text
lib/exit.h -text
lib/exitfail.c -text
lib/exitfail.h -text
lib/fcntl.c -text
lib/fcntl.in.h -text
lib/file-type.c -text
lib/file-type.h -text
lib/filenamecat-lgpl.c -text
lib/filenamecat.c -text
lib/filenamecat.h -text
lib/fnmatch.c -text
lib/fnmatch.in.h -text
lib/fnmatch_loop.c -text
lib/freopen-safer.c -text
lib/freopen.c -text
lib/getdtablesize.c -text
lib/getopt.c -text
lib/getopt.h -text
lib/getopt.in.h -text
lib/getopt1.c -text
lib/getopt_int.h -text
lib/gettext.h -text
lib/gettime.c -text
lib/gettimeofday.c -text
lib/gnulib.mk -text
lib/hard-locale.c -text
lib/hard-locale.h -text
lib/hash.c -text
lib/hash.h -text
lib/iconv.c -text
lib/iconv.in.h -text
lib/iconv_close.c -text
lib/iconv_open-aix.gperf -text
lib/iconv_open-aix.h -text
lib/iconv_open-hpux.gperf -text
lib/iconv_open-hpux.h -text
lib/iconv_open-irix.gperf -text
lib/iconv_open-irix.h -text
lib/iconv_open-osf.gperf -text
lib/iconv_open-osf.h -text
lib/iconv_open-solaris.gperf -text
lib/iconv_open-solaris.h -text
lib/iconv_open.c -text
lib/ignore-value.h -text
lib/imaxtostr.c -text
lib/intprops.h -text
lib/inttostr.c -text
lib/inttostr.h -text
lib/inttypes.in.h -text
lib/iswblank.c -text
lib/langinfo.in.h -text
lib/localcharset.c -text
lib/localcharset.h -text
lib/lstat.c -text
lib/malloc.c -text
lib/malloca.c -text
lib/malloca.h -text
lib/malloca.valgrind -text
lib/mbchar.c -text
lib/mbchar.h -text
lib/mbiter.h -text
lib/mbrlen.c -text
lib/mbrtowc.c -text
lib/mbscasecmp.c -text
lib/mbsinit.c -text
lib/mbslen.c -text
lib/mbsrtowcs-impl.h -text
lib/mbsrtowcs-state.c -text
lib/mbsrtowcs.c -text
lib/mbsstr.c -text
lib/mbtowc-impl.h -text
lib/mbtowc.c -text
lib/mbuiter.h -text
lib/memchr.c -text
lib/memchr.valgrind -text
lib/mkstemp.c -text
lib/mktime-internal.h -text
lib/mktime.c -text
lib/nl_langinfo.c -text
lib/offtostr.c -text
lib/open.c -text
lib/posixver.c -text
lib/posixver.h -text
lib/prepargs.c -text
lib/prepargs.h -text
lib/progname.c -text
lib/progname.h -text
lib/propername.c -text
lib/propername.h -text
lib/quote.c -text
lib/quote.h -text
lib/quotearg.c -text
lib/quotearg.h -text
lib/quotesys.c -text
lib/quotesys.h -text
lib/ref-add.sin -text
lib/ref-del.sin -text
lib/regcomp.c -text
lib/regex.c -text
lib/regex.h -text
lib/regex_internal.c -text
lib/regex_internal.h -text
lib/regexec.c -text
lib/setmode.h -text
lib/sh-quote.c -text
lib/sh-quote.h -text
lib/sig-handler.h -text
lib/sigaction.c -text
lib/signal.in.h -text
lib/sigprocmask.c -text
lib/stat-macros.h -text
lib/stat-time.h -text
lib/stat.c -text
lib/stdarg.in.h -text
lib/stdbool.in.h -text
lib/stddef.in.h -text
lib/stdint.in.h -text
lib/stdio--.h -text
lib/stdio-safer.h -text
lib/stdio-write.c -text
lib/stdio.in.h -text
lib/stdlib.in.h -text
lib/str-kmp.h -text
lib/strcase.h -text
lib/strcasecmp.c -text
lib/streq.h -text
lib/strerror-override.c -text
lib/strerror-override.h -text
lib/strerror.c -text
lib/strftime.c -text
lib/strftime.h -text
lib/striconv.c -text
lib/striconv.h -text
lib/string.in.h -text
lib/strings.in.h -text
lib/stripslash.c -text
lib/strncasecmp.c -text
lib/strndup.c -text
lib/strnlen.c -text
lib/strnlen1.c -text
lib/strnlen1.h -text
lib/strptime.c -text
lib/strtoimax.c -text
lib/strtol.c -text
lib/strtoul.c -text
lib/strtoull.c -text
lib/strtoumax.c -text
lib/sys_stat.in.h -text
lib/sys_time.in.h -text
lib/sys_wait.in.h -text
lib/tempname.c -text
lib/tempname.h -text
lib/time.in.h -text
lib/time_r.c -text
lib/timegm.c -text
lib/timespec.h -text
lib/trim.c -text
lib/trim.h -text
lib/uinttostr.c -text
lib/umaxtostr.c -text
lib/unistd.in.h -text
lib/unistr.in.h -text
lib/unistr/u8-mbtoucr.c -text
lib/unistr/u8-uctomb-aux.c -text
lib/unistr/u8-uctomb.c -text
lib/unitypes.h -text
lib/unitypes.in.h -text
lib/uniwidth.h -text
lib/uniwidth.in.h -text
lib/uniwidth/cjk.h -text
lib/uniwidth/width.c -text
lib/unlocked-io.h -text
lib/verify.h -text
lib/version-etc-fsf.c -text
lib/version-etc.c -text
lib/version-etc.h -text
lib/wchar.in.h -text
lib/wcrtomb.c -text
lib/wctype.in.h -text
lib/wcwidth.c -text
lib/xalloc-die.c -text
lib/xalloc-oversized.h -text
lib/xalloc.h -text
lib/xfreopen.c -text
lib/xfreopen.h -text
lib/xmalloc.c -text
lib/xstriconv.c -text
lib/xstriconv.h -text
lib/xstrndup.c -text
lib/xstrndup.h -text
lib/xstrtol-error.c -text
lib/xstrtol.c -text
lib/xstrtol.h -text
lib/xstrtoul.c -text
lib/xstrtoumax.c -text
/maint.mk -text
man/cmp.1 -text
man/cmp.x -text
man/diff.1 -text
man/diff.x -text
man/diff3.1 -text
man/diff3.x -text
man/help2man -text
man/sdiff.1 -text
man/sdiff.x -text
src/analyze.c -text
src/cmp.c -text
src/context.c -text
src/diff.c -text
src/diff.h -text
src/diff3.c -text
src/dir.c -text
src/ed.c -text
src/ifdef.c -text
src/io.c -text
src/normal.c -text
src/sdiff.c -text
src/side.c -text
src/system.h -text
src/util.c -text
tests/basic -text
tests/binary -text
tests/colliding-file-names -text
tests/excess-slash -text
tests/function-line-vs-leading-space -text
tests/help-version -text
tests/init.sh -text
tests/label-vs-func -text
tests/no-newline-at-eof -text
tests/stdin -text
tests/t-local.sh -text
