\ Loader.rc
\ $FreeBSD: stable/9/sys/boot/forth/loader.rc 223109 2011-06-15 14:07:16Z nwhitehorn $
\
\ Includes additional commands
include /boot/loader.4th

\ Reads and processes loader.conf variables
start

\ Tests for password -- executes autoboot first if a password was defined
check-password

\ Unless set otherwise, autoboot is automatic at this point

