* text=auto !eol
/AUTHORS -text
/COPYING -text
/Kyuafile -text
/NEWS -text
/README -text
/atf-c++.hpp -text
atf-c++/Kyuafile -text
atf-c++/atf-c++.3 -text
atf-c++/atf_c++_test.cpp -text
atf-c++/build.cpp -text
atf-c++/build.hpp -text
atf-c++/build_test.cpp -text
atf-c++/check.cpp -text
atf-c++/check.hpp -text
atf-c++/check_test.cpp -text
atf-c++/detail/Kyuafile -text
atf-c++/detail/application.cpp -text
atf-c++/detail/application.hpp -text
atf-c++/detail/application_test.cpp -text
atf-c++/detail/auto_array.hpp -text
atf-c++/detail/auto_array_test.cpp -text
atf-c++/detail/env.cpp -text
atf-c++/detail/env.hpp -text
atf-c++/detail/env_test.cpp -text
atf-c++/detail/exceptions.cpp -text
atf-c++/detail/exceptions.hpp -text
atf-c++/detail/exceptions_test.cpp -text
atf-c++/detail/fs.cpp -text
atf-c++/detail/fs.hpp -text
atf-c++/detail/fs_test.cpp -text
atf-c++/detail/process.cpp -text
atf-c++/detail/process.hpp -text
atf-c++/detail/process_test.cpp -text
atf-c++/detail/sanity.hpp -text
atf-c++/detail/test_helpers.cpp -text
atf-c++/detail/test_helpers.hpp -text
atf-c++/detail/text.cpp -text
atf-c++/detail/text.hpp -text
atf-c++/detail/text_test.cpp -text
atf-c++/detail/version_helper.cpp -text
atf-c++/macros.hpp -text
atf-c++/macros_hpp_test.cpp -text
atf-c++/macros_test.cpp -text
atf-c++/pkg_config_test.sh -text
atf-c++/tests.cpp -text
atf-c++/tests.hpp -text
atf-c++/tests_test.cpp -text
atf-c++/unused_test.cpp -text
atf-c++/utils.cpp -text
atf-c++/utils.hpp -text
atf-c++/utils_test.cpp -text
/atf-c.h -text
atf-c/Kyuafile -text
atf-c/atf-c.3 -text
atf-c/atf_c_test.c -text
atf-c/build.c -text
atf-c/build.h -text
atf-c/build_test.c -text
atf-c/check.c -text
atf-c/check.h -text
atf-c/check_test.c -text
atf-c/defs.h -text
atf-c/defs.h.in -text
atf-c/detail/Kyuafile -text
atf-c/detail/dynstr.c -text
atf-c/detail/dynstr.h -text
atf-c/detail/dynstr_test.c -text
atf-c/detail/env.c -text
atf-c/detail/env.h -text
atf-c/detail/env_test.c -text
atf-c/detail/fs.c -text
atf-c/detail/fs.h -text
atf-c/detail/fs_test.c -text
atf-c/detail/list.c -text
atf-c/detail/list.h -text
atf-c/detail/list_test.c -text
atf-c/detail/map.c -text
atf-c/detail/map.h -text
atf-c/detail/map_test.c -text
atf-c/detail/process.c -text
atf-c/detail/process.h -text
atf-c/detail/process_helpers.c -text
atf-c/detail/process_test.c -text
atf-c/detail/sanity.c -text
atf-c/detail/sanity.h -text
atf-c/detail/sanity_test.c -text
atf-c/detail/test_helpers.c -text
atf-c/detail/test_helpers.h -text
atf-c/detail/text.c -text
atf-c/detail/text.h -text
atf-c/detail/text_test.c -text
atf-c/detail/tp_main.c -text
atf-c/detail/user.c -text
atf-c/detail/user.h -text
atf-c/detail/user_test.c -text
atf-c/detail/version_helper.c -text
atf-c/error.c -text
atf-c/error.h -text
atf-c/error_fwd.h -text
atf-c/error_test.c -text
atf-c/h_build.h -text
atf-c/macros.h -text
atf-c/macros_h_test.c -text
atf-c/macros_test.c -text
atf-c/pkg_config_test.sh -text
atf-c/tc.c -text
atf-c/tc.h -text
atf-c/tc_test.c -text
atf-c/tp.c -text
atf-c/tp.h -text
atf-c/tp_test.c -text
atf-c/unused_test.c -text
atf-c/utils.c -text
atf-c/utils.h -text
atf-c/utils_test.c -text
atf-sh/Kyuafile -text
atf-sh/atf-check.1 -text
atf-sh/atf-check.cpp -text
atf-sh/atf-check_test.sh -text
atf-sh/atf-sh.1 -text
atf-sh/atf-sh.3 -text
atf-sh/atf-sh.cpp -text
atf-sh/atf_check_test.sh -text
atf-sh/config_test.sh -text
atf-sh/integration_test.sh -text
atf-sh/libatf-sh.subr -text
atf-sh/misc_helpers.sh -text
atf-sh/normalize_test.sh -text
atf-sh/tc_test.sh -text
atf-sh/tp_test.sh -text
/config.h -text
doc/atf-test-case.4 -text
doc/atf-test-program.1 -text
doc/atf.7.in -text
test-programs/Kyuafile -text
test-programs/c_helpers.c -text
test-programs/common.sh -text
test-programs/config_test.sh -text
test-programs/cpp_helpers.cpp -text
test-programs/expect_test.sh -text
test-programs/meta_data_test.sh -text
test-programs/result_test.sh -text
test-programs/sh_helpers.sh -text
test-programs/srcdir_test.sh -text
