* text=auto !eol
/CONTRIBUTING -text
/LICENSE -text
/Makefile -text
/NEWS -text
/README -text
/Theory -text
/africa -text
/antarctica -text
/asia -text
/australasia -text
/backward -text
/backzone -text
/calendars -text
/checklinks.awk -text
/checktab.awk -text
/etcetera -text
/europe -text
/factory -text
/iso3166.tab -text
/leap-seconds.list -text
/leapseconds -text
/leapseconds.awk -text
/northamerica -text
/pacificnew -text
/southamerica -text
/systemv -text
/theory.html -text
/version -text
/yearistype.sh -text
/ziguard.awk -text
/zishrink.awk -text
/zone.tab -text
/zone1970.tab -text
/zoneinfo2tdf.pl -text
